<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      div {
        text-align: center;
        margin: 10px;
        padding: 10px;
      }
      ol {
        list-style: none;
      }
    </style>
    <title>STUDENT</title>
  </head>
  <body>
    <div>
      <h1>HELLO WORLD</h1>
      <h2>THE SERVER DATE AND TIME is: {{date}}</h2>
      <ol>
        <li>NAME: {{name}}</li>
        <li>ROLL NO: {{rollno}}</li>
        <li>MARKS: {{marks}}</li>
      </ol>
    </div>
  </body>
</html>
